:root {
  --background-color: #ebf0f4;
  --pink-color: rgb(247, 180, 167);
  --pink-color-opacity: rgb(247, 180, 167, 0.2);
  --principal-blue: #5ce0e5;
  --text-blue: #245c60;
  --text-dark-color: #322e2e;
  --dark-color-opacity: rgba(50, 46, 46, 0.2);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap");

body {
  background-color: var(--background-color);
  font-family: "Roboto Mono", monospace;
  color: var(--text-dark-color);
  max-width: 100%;
}
nav {
  font-size: 20px;
}
h1 {
  margin-top: 50px;
  font-size: 50px;
}
h2 {
  color: var(--text-blue);
  font-size: 40px;
  font-weight: bold;
}
h4 {
  margin-top: 10px;
}
a {
  text-decoration: none !important;
  color: var(--text-dark-color);
}
a:hover {
  color: var(--text-dark-color);
}
footer {
  width: 100%;
  text-align: center;
  background-color: var(--pink-color-opacity);
}
b {
  color: var(--principal-blue);
}
.container-nav {
  max-width: 1300px;
}
.navbar-collapse {
  justify-content: flex-start !important;
}

/* main */
.hero {
  padding: 50px;
  max-width: 1300px;
}
.hello {
  overflow: hidden;
  font-size: 55px;
  color: var(--text-blue);
  border-right: 0.15em solid var(--principal-blue);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--principal-blue);
  }
}
.btn-info {
  background-color: var(--pink-color) !important;
  color: var(--text-dark-color) !important;
  border: 1px solid var(--text-blue) !important;
}

/* More about me */
.more_about {
  padding: 40px;
  margin-top: 50px;
  background-color: var(--dark-color-opacity);
}
.basic-info strong {
  color: var(--background-color);
  font-size: 20px;
}
.p-about {
  line-height: 2.5rem;
}
.foto_second {
  max-width: 300px;
  border-radius: 40px;
  box-shadow: 60px 0 var(--text-dark-color);
}

/* Skills */
.skills_section {
  margin-top: 120px;
}
.skills {
  margin-top: 50px;
}
.skills button {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}
.btn-secondary {
  background-color: var(--text-dark-color);
}
.btn-secondary:hover {
  color: var(--principal-blue);
  background-color: var(--background-color);
  cursor: revert;
}

/* Projects */
.latest_projects {
  margin-top: 120px;
  margin-bottom: 120px;
}
.project-img {
  height: 270px;
  width: 400px;
  border-radius: 10px;
}
.project {
  transition: transform 250ms;
}
.project:hover {
  transform: translateY(-10px);
}
.projects {
  margin-bottom: 50px;
  margin-top: 70px;
}
.projects img {
  height: 22rem;
}

/* Footer */
.container-fluid {
  padding: 0 !important;
}
.bg-img1 {
  background-image: url("../img/bg-1.png");
  background-position: left bottom;
  background-size: 300px;
  background-repeat: no-repeat;
}
.bg-img2 {
  background-image: url("../img/bg-2.png");
  background-position: right top;
  background-size: 300px;
  background-repeat: no-repeat;
}
.logo_footer {
  width: 130px;
}
.icons {
  margin-right: 40px;
}
.icons i {
  margin-top: 5px;
  margin-left: 25px;
  font-size: 28px;
}
.coded {
  padding-bottom: 10px;
  margin-right: 10px;
}

/* Contacts Page */
.contacts {
  font-size: 25px;
}

/* About me page */
.my-story {
  text-align: justify !important;
  line-height: 0.7cm;
}
.interest {
  filter: grayscale(100%);
  border-radius: 15px;
  border: 1px solid var(--principal-blue);
  max-width: 150px;
}
.interest:hover {
  filter: none;
}
